 inicia General 
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@300;400&display=swap');

h1,h2,h3{
	color: #000000;
	font-size: 1.8rem;
	font-family: 'Patrick Hand', cursive;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.0rem;
	line-height: 2rem;
	color: #373740;
}
/* termina general */

/* inicia nav */
.navbar img{
	width: 180px;
}

.navbar-logo{
	padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

.bg-navbar{
	background-color: #ededed;
}
/* termina nav */

/* prodcutos */
.transformacion img:hover{
	transform: translate(15px);
	cursor: pointer;
}

/* termina productos */
/* inicia colores generales */
.bg-enviar{
	background-color: #E8E8E8;
}

.bg-blue{
	background-color: #4EBAFE;
}

.bg-promociones{
	/*background-color: ;*/
}
/* termina colores generales */

/* inicia form */
.form{
	display: flex;
	justify-content: center;
	width: 100%;
}

/* termina form */

/* inicia ubi */
.ubicacion{
	display: flex;
	width: 100%;
	justify-content: center;
}

/* termina ubi */

/*inicia footer*/
.pie{
	display: flex;
	align-items: center;
	margin: 30px;
	flex-direction: column;
}

/* termina footer */

/* inicia responsive */
@media (min-width: 576px){
	.pie{
		flex-direction: row;
	}

	.navbar img{
		width: 300px;
	}
}

/* termina responsive */