@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap");

h1,
h2,
h3 {
  color: $negro;
  font-size: 1.5rem;
  font-family: $fuenteTitulo;
  font-weight: 700;
}

p {
  font-family: $fuentePrincipal;
  @include texto(1.2rem, 2rem, $gris);
}

.card {
  h2 {
    font-family: $fuenteTitulo;
    @include texto(1rem, 2rem, $blanco);
  }
  p {
    font-family: $fuentePrincipal;
    @include texto(0.9rem, 2rem, $blanco);
  }
}
