// navEdit
.navbar {
	img{
		width: 180px;
	}
}

.navbar-logo{
	padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

.bg-navbar{
	background-color: map-get($map:$paletabg, $key:blanco)
}

// header


// animaciones etc
.transformacion {
	img {
		&:hover {
			transform: translate(15px);
			cursor: pointer;
		}
	}
}

// colores generales
.bg-enviar{
	background-color: map-get($map:$paletabg, $key:grisClaro)
}

.bg-blue{
	background-color: map-get($map:$paletabg, $key:azul)
}

// form
.form{
	@extend .extender-flex;
	width: 100%;
}

.boton-arreglos{
	display: flex;
	justify-content: center;
}

// ubi
.ubicacion{
	@extend .extender-flex;
	width: 100%;
}

// footer
.pie{
	display: flex;
	align-items: center;
	margin: 30px;
	flex-direction: column;
}

// media
@media (min-width: 768px){
	.pie{
		flex-direction: row;
	}
	.navbar {
		img{
		width: 300px;
		}
	}
}

@media (min-width: 1200px){
	.header{
	height: 700px;
	object-fit: cover;
	}
}