// navEdit
.navbar {
	img{
		width: 150px;
		padding-left: 40px;
	}
}

.navbar-logo{
	padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

.bg-navbar{
	background-color: map-get($map:$paletabg, $key:blanco)
}

// header


// animaciones etc
.transformacion {
	img {
		&:hover {
			transform: translate(15px);
			cursor: pointer;
		}
	}
}

// colores generales
.bg-enviar{
	background-color: map-get($map:$paletabg, $key:grisClaro)
}

.bg-blue{
	background-color: map-get($map:$paletabg, $key:azul)
}

// quienes somos
.quienesSomos{
	width:75%;
	overflow: initial;
	padding: 30px 30px;
	border: solid $azul 3px;
	box-sizing: border-box;
	margin: 50px auto;
}

.quienesSomosTitulo{
	display: flex;
	justify-content: center;
	border-bottom: solid $azul 2px;
	border-radius: 20px;
	width: 200px;
	margin: 10px auto;
}

// form
.form{
	@extend .extender-flex;
	width: 100%;
}

.boton-arreglos{
	display: flex;
	justify-content: center;
}

// ubi
.ubicacion{
	@extend .extender-flex;
	width: 100%;
}

// footer
.pie{
	display: flex;
	align-items: center;
	margin: 30px;
	flex-direction: column;
}

// media
@media (min-width: 768px){
	.pie{
		flex-direction: row;
	}
	.navbar {
		img{
		width: 200px;
		}
	}
}

@media (min-width: 1200px){
	.header{
	height: 600px;
	object-fit: cover;
	}
}