// fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteTitulo: 'Patrick Hand', cursive;

// colores generales
$negro: #1B1B1B;
$blanco: #ededed;
$gris: #373740;
$grisClaro: #E8E8E8;
$azul: #4EBAFE;
// colores de texto y titulos
