// fuentes
$fuentePrincipal: 'Roboto Slab', serif;
$fuenteTitulo: 'Roboto', sans-serif;

// colores generales
$negro: #1B1B1B;
$blanco: #ededed;
$gris: #373740;
$grisClaro: #E8E8E8;
$azul: #4EBAFE;
$oscuro: #191c29;
// colores de texto y titulos
