// fuentes
$fuentePrincipal: "Roboto Slab", serif;
$fuenteTitulo: "Roboto", sans-serif;

// colores generales
$negro: #1b1b1b;
$blanco: #ededed;
$gris: #373740;
$gris2: #707070;
$grisClaro: #e8e8e8;
$azul: #4ebafe;
$oscuro: #191c29;
// colores de texto y titulos
